<!-- <h2>RECIPE DETAILS</h2>
<div *ngIf="recipe$ | async as recipe">
  <h3>"{{ recipe.title }}"</h3>
  <div><label>Id: </label>{{ recipe.id }}</div>
  <a [routerLink]="['/UserRecipesList', 'recipe.id']"><p>Add To List</p></a>
</div> -->

<!-- <h2>RECIPES</h2>
<ul class="recipes">
  <li *ngFor="let recipe of (recipes$ | async)?.results">
    <a [routerLink]="['/UserRecipesList', recipe.id]">
      <span class="badge">{{ recipe.id }}</span>
      <p>{{ recipe.title }}</p>

      <img src="{{ recipe.image }}" alt="" />
    </a>
    <button id="{{ recipe.id }}" (click)="addToList($event)">
      Add To List
    </button>
  </li>
</ul> -->

<h2>RECIPE DETAILS</h2>
<div *ngFor="let name of names; let i = index">
  <a [routerLink]="['/ShowRecipesDetails', ids[i]]">
    <h3>"{{ name }}"</h3>
  </a>
  <button id="{{ i }}" (click)="RemoveFromList($event)">
    Remove From List {{ i }}
  </button>
  <router-outlet></router-outlet>
</div>
