<div class="w-full h-18 flex justify-center">
  <a
    class="
      text-center
      w-56
      bg-yellow-500
      hover:bg-yellow-200
      text-blue-dark
      font-semibold
      hover:text-white
      py-2
      px-4
      border border-blue
      hover:border-transparent
      rounded
      mr-2
    "
    routerLink="/ShowRecipes"
    routerLinkActive="active"
  >
    <p>Home</p>
  </a>

  <a
    *ngIf="isSignedIn"
    class="
      text-center
      w-56
      bg-yellow-500
      hover:bg-yellow-200
      text-blue-dark
      font-semibold
      hover:text-white
      py-2
      px-4
      border border-blue
      hover:border-transparent
      rounded
      mr-2
    "
    routerLink="/UserRecipesList"
    routerLinkActive="active"
  >
    <h2>Favorites</h2>
  </a>

  <a
    *ngIf="!isSignedIn"
    class="
      text-center
      w-56
      bg-yellow-500
      hover:bg-yellow-200
      text-blue-dark
      font-semibold
      hover:text-white
      py-2
      px-4
      border border-blue
      hover:border-transparent
      rounded
      mr-2
    "
    routerLink="/login"
    routerLinkActive="active"
  >
    <h2>Favorites</h2>
  </a>
</div>

<form
  [formGroup]="SelectListForm"
  (ngSubmit)="onSubmit()"
  formGroupeName="SelectListForm"
>
  <select class="custom-select" (change)="changeList($event)">
    <option value="" disabled>Choose your city</option>
    <option *ngFor="let chooseList of Lists" [ngValue]="chooseList">
      {{ chooseList }}
    </option>
  </select>
</form>

<nav>
  <a *ngIf="!isSignedIn" routerLink="/login">Log in</a>
  <a routerLink="/register">Register</a>
</nav>

<router-outlet></router-outlet>
