<nav class="w-full h-18 flex justify-center">
  <a
    class="
      text-center
      w-48
      bg-blue-500
      hover:bg-yellow-200
      text-blue-dark
      font-semibold
      hover:text-white
      py-2
      px-4
      border border-blue
      hover:border-transparent
      rounded
      mr-2
    "
    *ngIf="!isSignedIn"
    routerLink="/login"
    >Log in</a
  >
  <a
    class="
      text-center
      w-48
      bg-blue-500
      hover:bg-yellow-200
      text-blue-dark
      font-semibold
      hover:text-white
      py-2
      px-4
      border border-blue
      hover:border-transparent
      rounded
      mr-2
    "
    *ngIf="isSignedIn"
    routerLink="/login"
    (click)="clearLocalStorage()"
    >Log Out</a
  >
  <a
    class="
      text-center
      w-48
      bg-blue-500
      hover:bg-yellow-200
      text-blue-dark
      font-semibold
      hover:text-white
      py-2
      px-4
      border border-blue
      hover:border-transparent
      rounded
      mr-2
    "
    routerLink="/register"
    >Register</a
  >
</nav>

<div class="w-full h-18 flex justify-center">
  <a
    class="
      text-center
      w-56
      bg-yellow-500
      hover:bg-yellow-200
      text-blue-dark
      font-semibold
      hover:text-white
      py-2
      px-4
      border border-blue
      hover:border-transparent
      rounded
      mr-2
    "
    routerLink="/ShowRecipes"
    routerLinkActive="active"
  >
    <p>Home</p>
  </a>

  <a
    *ngIf="isSignedIn"
    class="
      text-center
      w-56
      bg-yellow-500
      hover:bg-yellow-200
      text-blue-dark
      font-semibold
      hover:text-white
      py-2
      px-4
      border border-blue
      hover:border-transparent
      rounded
      mr-2
    "
    routerLink="/UserRecipesList"
    routerLinkActive="active"
  >
    <h2>Favorites</h2>
  </a>

  <a
    *ngIf="!isSignedIn"
    class="
      text-center
      w-56
      bg-yellow-500
      hover:bg-yellow-200
      text-blue-dark
      font-semibold
      hover:text-white
      py-2
      px-4
      border border-blue
      hover:border-transparent
      rounded
      mr-2
    "
    routerLink="/login"
    routerLinkActive="active"
  >
    <h2>Favorites</h2>
  </a>
</div>

<div class="w-full h-18 flex justify-center">
  <form
    [formGroup]="SelectListForm"
    (ngSubmit)="onSubmit()"
    formGroupeName="SelectListForm"
  >
    <h3
      class="
        text-center text-blue-dark
        font-semibold
        py-2
        px-4
        border border-blue
        rounded
        mr-2
      "
    >
      Selected List:
    </h3>
    <select
      class="
        text-center
        w-56
        bg-green-500
        hover:bg-green-200
        text-blue-dark
        font-semibold
        py-2
        px-4
        border border-blue
        hover:border-transparent
        rounded
        mr-2
      "
      (change)="changeList($event)"
    >
      <option value="" disabled>Choose your List</option>
      <option
        *ngFor="let chooseList of Lists"
        [ngValue]="chooseList"
        value="{{ chooseList.id }}"
      >
        {{ chooseList.name }}
      </option>
    </select>
    <button
      class="
        text-center
        w-48
        bg-red-500
        hover:bg-red-200
        text-blue-dark
        font-semibold
        py-2
        px-4
        border border-blue
        hover:border-transparent
        rounded
        mr-2
      "
      (click)="removeList()"
    >
      Remove List
    </button>
  </form>
</div>
<router-outlet></router-outlet>
