<div
  class="auth-wrapper"
  style="
    height: 300px;
    width: 400px;
    background: rgb(233, 180, 180);
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h3>Register User</h3>

    <!-- Errors -->
    <div *ngIf="errors?.name">
      {{ errors?.name }}
    </div>
    <div *ngIf="errors?.email">
      {{ errors?.email }}
    </div>
    <div *ngIf="errors?.password">
      {{ errors?.password }}
    </div>
    <div *ngIf="errors?.password_confirmation">
      {{ errors?.password_confirmation }}
    </div>

    <!-- Signup form -->
    <div class="form-group">
      <label style="font-size: x-large">Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="name"
        style="margin: 10px"
      />
    </div>
    <div class="form-group">
      <label style="font-size: x-large">Email address</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        style="margin: 10px"
      />
    </div>
    <div class="form-group">
      <label style="font-size: x-large">Password</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        style="margin: 10px"
      />
    </div>
    <div class="form-group">
      <label style="font-size: x-large">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        formControlName="password_confirmation"
        style="margin: 10px"
      />
    </div>
    <button
      type="submit"
      class="btn btn-block btn-primary"
      style="background-color: wheat; padding: 10px"
    >
      Register User
    </button>
  </form>
</div>
